nav {
  display: flex;
  background-color: black;
  position: absolute;
  bottom: -119px;
  width: 100%;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}